@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/sugestao.css);

/*Aqui vc importa os outros estilos para não ficar um monte de links no index.html*/

:root {
    --bg-color: #EBECEE;
    --font-color: black;
    --font-principal: "Poppins";
    --branco: white;
    --bg-color-menu: black;

}

body {
    background-color: var(--bg-color);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1rem; /*1rem = 16px mas só que se tiver alguma opção de acessiblidade ele aumenta*/
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(34, 33, 33);
        --font-color: #ccc;
        --bg-color-menu: black;
    
    }

    html {
        color-scheme: dark;
    }
    
}

