#banner {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    text-align: center;
    padding: 24px;
}

#titulo-banner {
    color: var(--branco);
    font-weight: 700;
}

#paragrafo-banner {
    color: var(--branco);
    font-size: 1em;
    font-weight: 500;
}

#input-banner {
    width: 100%;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: var(--branco);
}

#banner h2, p {
    padding-bottom: 10px;
}

#input-banner::placeholder {
    background: url(../assets/lupa.svg);
    background-position: 0.1em;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--branco);
    font-weight: 400;
}