#banner {
    background: var(--azul-degrade);
    text-align: center;
    padding: 24px;

}

#titulo-banner {
    color: var(--branco);
    font-weight: 700;
}

#paragrafo-banner {
    color: var(--branco);
    font-size: 1rem;
    font-weight: 500;       
    padding-bottom: 24px;

}

#input-banner {
    width: 100%;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: var(--branco);
}

#banner h2, p {
    padding-bottom: 10px;
}

#input-banner::placeholder {
    background: url(../assets/lupa.svg);
    background-position: 0.1em;
    background-repeat: no-repeat;
    text-align: center;
    font-family: var(--font-principal);
    font-size: 0.8rem;
    color: var(--branco);
    font-weight: 400;
}

@media (min-width: 1024px) {
    #titulo-banner {
        font-size: 2.2rem;
    }

    #input-banner {
        width: 50%;
    }

    #input-banner::placeholder {
        font-size: 1rem;
        background-position: 1em;
    }
}

@media (min-width: 1778px) {
    #banner {
        padding: 8rem;
    }

    #titulo-banner {
        font-size: 3rem;
    }

    #banner p {
        font-size: 2rem;
    }
    
    #input-banner {
        width: 80%;
        font-size: 1.6rem;
    }

    #input-banner::placeholder {
        font-size: 1.6rem;
        background-position: 13rem;
    }

}