footer p, a {
    font-weight: 400;
    font-size: 1rem;
    color: var(--branco);
}
footer h2 {
    color: var(--branco);
}

footer a:hover {
    color: black;
    transition: 0.5s;
}

footer {
    padding: 2rem 0.5rem;
    background-color: darkslategrey;
}


.listas-footer {
    display: none;
}

@media (min-width: 1024px) {

    footer {
        display: flex;
        gap: 30px;
    }

    .listas-footer {
        display: block;
    }

    footer h2, li {
        font-size: 1.2rem;
    }

    footer p, a{
        font-size: 1.2rem;
    }

    footer h2 {
        padding-left: 0rem;
    }


    .listas-footer-ul li {
        display: flex;
        align-items: center;
        padding: 15px 0;
        gap: 10px;
    }
}

@media (min-width: 1728px) {

    footer h2, li {
        font-size: 2rem;
    }

    footer p, a{
        font-size: 1.7rem;
    }

    footer h2 {
        padding-left: 1.2rem;
    }

}