
#amostraLista {
    display: none; /**/
}

.cabecalho__menu__hamburguer {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../assets/hamburguer.svg);
    background-position: center;
    background-size: cover;
    margin: 0 15px;
}

.cabecalho {
    display: flex;
    height: auto;
    background-color: green;
    justify-content: space-between;
    align-items: center; 
    position: relative;  
}

.container_imagem {
    padding-right: 10px;
}

.container {
    align-items: center;
    display: flex;
    padding-right: 20px;
}

.titulo-site, .books {
    display: none;
}

.negrito {
    display: none;
}

.lista {
    display: none;
}

#amostraLista:checked ~ .lista {
    display: block;
}

#amostraLista:checked ~ .cabecalho__menu__hamburguer {
    color: blue;
}


.lista { /*Não pode colocar display flex aqui senão dar erro*/
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    padding: 15px;
    width: 70%;
    background-color:  var(--bg-color-menu);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 100%;

}

.lista-titulo {
    font-weight: bold;
    color: #EB9B00;
    padding: 15px 0;
}

.lista-item {
   padding:  24px, 24px, 16px, 24px;
   margin-bottom: 10px;
}

.lista-item a:hover{
    background-color: white;
    color: black;
    transition: 0.7s;
}

.lista-item a {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

.lista li a {
    color: var(--branco);
}

.nomes-cabecalho {
    display: none;
}

.container-segundo {
    position: relative;
}

.container-imagem {
    display: flex;
}

#amostraLista-tablet {
    display: none;
}

.lista-tablet {
    display: none;
    position: absolute;
    top: 100%;
}

.titulo-site {
    display: none;
}
.texto-pra-pc {
    display: none;
    
}

.container-icones-lado-geral {
    display: flex;
}


.container-icones-lado-geral {
    gap: 0;
    padding: 0;
}


@media (min-width: 1024px) {
    .cabecalho__menu__hamburguer {
        display: none;
    }

    .Favoritos {
        display: none;
    }

    .container {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }

    .container-icones-lado-geral {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-top: 5px;
    }

     .negrito {
        flex-flow: row wrap;
        display: flex;
    }

    .books {
        display: flex;
    }

    #amostraLista-tablet:checked ~  .lista-tablet {
        display: block;
        width: auto;
        left: 0;
        margin: 0;
        background-color:  var(--bg-color-menu);
        font-size: 1rem;
        text-align: center;
        
    }

    #categorias-h2 {
        font-weight: 400;
        font-size: 1rem;
    }

    .categorias-tablet {
        display: flex;
    }

    .mais-categorias {
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
    }
    .lista-item a{
        font-size: 1rem;
    }

    .titulo-site {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.8rem;
        font-family: "Josefin Sans";
        font-weight: 400;
    }

    .negrito {
        font-weight: 700;
    }

    .container-segundo {
        display: flex;
    }

    .sugestao {
        padding: 1rem;
    }
}

@media (min-width: 1728px) {

    .texto-pra-pc {
        padding-top: 5px;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    .container-icone-lado-um {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .container-icone-lado-dois {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .container-icones-lado-geral {
        display: flex;
        gap: 25px;
        align-items: center;
        padding-right: 1rem;
    }

}