#secao-email{
    padding: 30px;
    text-align: center;
    background-color: rgb(5, 93, 182);
}

#secao-email h2, p {
    padding-bottom: 0.5rem;
}

#secao-email h2 {
    font-weight: 500;
    font-size: 1.1rem;
    color: wheat;
}

#secao-email p {
    font-weight: 300;
    font-size: 1rem;
    color: var(--branco);
}


#input-email {
    border: 0.1px solid white;
    border-radius: 24px;
    padding: 10px 24px;
    font-size: 1rem;
    width: 100%;
    background-color: transparent;
}

#input-email::placeholder {
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-principal);
    background: url(../assets/email.svg) no-repeat; /*Com a regra background posso colocar mais de um comando*/
    text-align: center;
    background-position: 0.1em;
    color: var(--branco);
}

@media (min-width: 1024px) {
    #secao-email {
        display: flex;
        gap: 35px;
    }

    #input-email {
        width: 40%;
        height: auto;
    }

}