
.sugestao {
    padding: 5px;
    background-color: var(--bg-color-sugestao);
    margin: 24px;
    box-shadow: white 4px;
    /*Não pode colocar display flex aqui senão as outras divs ficam tudo tortas e não se ajeitam*/
}

.descricao {
    padding: 16px;
    text-align: center;
}

.card-descricao {
    display: flex;
    justify-content: space-around;
}

.descricao h2, h3, p {
    padding-bottom: 15px;
}

.descricao h2  {
    color: #EB9B00;
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;

}
.descricao h3  {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 27px;
}

.descricao p  {
    color: var(--font-color);
    line-height: 21px;
    font-weight: 400;
    font-size: 1rem;
}



.sugestao-angular {
    width: auto;
    height: auto;
    margin: 24px 10px;
}

.icones {
    display: flex;
}

.icones li:first-child {
    margin-left: 45px;
}

.icones li:nth-child(2) {
    margin-left: 25px;
}

.card-icones {
    padding-bottom: 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.btn-sugestao a{
    background-color: #EB9B00;
    padding: 8px 16px;
    text-align: center;
    color: var(--branco);
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

.btn-sugestao {
    margin-right: 5px;
}



@media (min-width: 1024px) {
    .sugestao {
        width: 70%;
        height: auto;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    .descricao h2, h3, p {
        font-size: 1.3rem;
    }


}