#topicos {
    background: var(--azul-degrade);;
    text-align: center;
    padding: 1rem;
} 

#titulo-topicos {
    color: var(--branco);
    font-weight: 300;
    font-size: 1rem;
}

#lista-topicos {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    display: flex;
    flex-flow: row wrap;
}

.lista-item-topicos {
    font-size: 0.8rem;
    padding: 16px 24px;
    color: var(--branco);
    background-color: #EB9B00;
}


@media (min-width:1024px) {

    #titulo-topicos {
        font-size: 1.7rem;
    }

    .lista-item-topicos {
        font-size: 1.2rem;
        padding: 24px 32px;
        color: black;
    }

}

@media (min-width:1728px) {
    #titulo-topicos {
        font-size: 2.3rem;
    }

    .lista-item-topicos {
        font-size: 2rem;
        padding: 24px 32px;
        color: black;
    }

    
}
